[Unit]
Description=AutoSSH Tunnel for CallMigrate
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="AUTOSSH_GATETIME=0"
ExecStart=/opt/callmigrate/scripts/tunnel.sh

[Install]
WantedBy=multi-user.target
